<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Management</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

    <!-- Login Form -->
    <form id="loginForm" class="container">
        <h1>Log in</h1>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required class="search-section">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="search-section">

        <div id="loginErrorMessage" class="error-message" style="display: none;"></div>

        <button type="submit" class="small-blue-button">Log in</button>
        <a href="#" id="forgotPassword">Forgot Password?</a>
        <div class="create-account-box">
            <a href="register" class="small-blue-button">Create New Account</a>
        </div>
    </form>

    <!-- Find Account Form -->
    <form id="findAccountForm" class="container hidden">
        <h1>Find your account</h1>
        <label for="accountEmail">Please enter your email:</label>
        <input type="email" id="accountEmail" required class="search-section">
        <button id="searchAccount" type="submit" class="small-blue-button">Send code</button>
        <div id="accountErrorMessage" class="error-message" style="display: none;"></div>
        <a href="#" id="cancelFindAccount">Try with password</a>
    </form>

    <!-- Enter Security Code Form -->
    <form id="securityCodeForm" class="container hidden">
        <h1>Enter security code</h1>
        <label for="code">Enter code:</label>
        <input type="text" id="code" required class="search-section">
        <div id="securityErrorMessage" class="error-message" style="display: none;"></div>

        <button id="verifyCode" type="submit" class="small-blue-button">Continue</button>
        <a href="#" id="cancelSecurityCode">Try with password</a>
    </form>

    <!-- New Password Form -->
    <form id="newPasswordForm" class="container hidden">
        <h1>Create a new password</h1>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" required class="search-section">
        <label for="confirmPassword">Confirm password:</label>
        <input type="password" id="confirmPassword" required class="search-section">
        <div id="newPasswordErrorMessage" class="error-message" style="display: none;"></div>
        <button id="resetPassword" class="small-blue-button">Reset password</button>
    </form>

    <script src="/js/auth/login.js"></script>
</body>
</html>
