<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

<div class="container">
    <h1>Register</h1>
    <form id="registerForm">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" autocomplete="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" autocomplete="new-password" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>

        <div class="checkbox-container">
            <label>Are you a student?</label>
            <input type="checkbox" id="studentCheck" class="checkbox" onclick="toggleStudentFields()">
            <label for="studentCheck" class="checkbox-label"></label>
        </div>

        <div id="studentFields" class="hidden">
            <label for="university">University:</label>
            <input type="text" id="university" name="university">

            <label for="faculty">Faculty:</label>
            <input type="text" id="faculty" name="faculty">

            <label for="yearOfStudy">Year of Study:</label>
            <input type="number" id="yearOfStudy" name="yearOfStudy" min="1" max="10">

            <label for="indexNumber">Index Number:</label>
            <input type="text" id="indexNumber" name="indexNumber">
        </div>
        <button type="submit" class="small-blue-button">Create account</button>
    </form>
    <button class="small-blue-button" onclick="location.href='login'">Back to Log in</button>
</div>

<script src= "/js/auth/register.js"></script>
</body>
</html>

