<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/users.css">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="https://i.ibb.co/PCrqV3D/New-Project-2.png" alt="CareerNest Logo" style="width: 150px; height: 100px; margin-top: 20px; margin-bottom: 20px; margin-right:1250px;">
            <nav>
                <a href="/homepage">Home</a>
                <a href="/internships">Internships</a>
                <a href="/companies">Companies</a>
                <a href="/contactUs">Contact Us</a>
                <div class="profile-dropdown">
                    <button class="profile-button">
                        <img src="https://img.icons8.com/?size=100&id=AZazdsitsrgg&format=png&color=f2f2f2" alt="User Icon" class="user-icon">
                    </button>
                    <div class="dropdown-content" id="userDropdownMenu">
                        <a href="#">Profile</a>
                        <a href="#">Settings</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </nav>
        </div>
        <br>
    </header>

    <div class='container'>
        <!-- Profile Header: Profile Picture and Username -->
        <div class="profile-header">
            <!-- User Profile Picture (Smaller size and yellow border) -->
            <img id="userProfilePicture" src="path/to/profile-image.jpg" alt="Profile Picture" class="profile-image">
            <div class="user-info">
                <h2 id="user-name">Emilija Stefanovska</h2>
                <p id="user-handle">@stefanovskae</p>
            </div>

        </div>

        <div class="bio">
            <p><strong class="label">Bio:</strong></p>
            <div class="bio-content" id="user-bio">
                <!-- This is where the user's bio text will appear -->
            </div>
        
            <!-- Optional student info -->
            <div class="student-info">
                
            </div>
        </div>

        <div class="owned-companies">
            <h3>Owned Companies</h3>
            <div class="company-cards" id="ownedCompanyCards">
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 CareerNest | All Rights Reserved</p>
    </footer>

    <script src="/js/homepage.js"></script>
    <script src="/js/users.js"></script>
</body>
</html>
